<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASAM_MCD2_DataBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASAM_MCD2_DataBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ASAM_MCD2_DataBase.Properties.Settings>
            <setting name="IDEType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A2LModulePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MapPath" serializeAs="String">
                <value />
            </setting>
            <setting name="A2LSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionNum" serializeAs="String">
                <value />
            </setting>
            <setting name="IFLMapFormat" serializeAs="String">
                <value>0</value>
            </setting>
        </ASAM_MCD2_DataBase.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ASAM_MCD2_DataBase.Properties.Settings>
            <setting name="IFLPrecisionOptimize" serializeAs="String">
                <value>False</value>
            </setting>
        </ASAM_MCD2_DataBase.Properties.Settings>
    </userSettings>
</configuration>